html{
  scroll-snap-type: mandatory;
}

.app{
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #1e0b57;
  text-align: center;
}

.app-top{
  margin-bottom: -30px;
}

.app-top > h1{
  text-align: center;
  color: white;
}

.app-logo{
  height: 12vh;
}

.app-videos{
  position: relative;
  height: 65vh;
  background-color: white;
  width: 70%;
  border-radius: 20px;
  max-width: 450px;
  max-height: 1200px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

/* Hide scrollbar for chrome, safari and opera */
.app-videos::-webkit-scrollbar{
  display: none;
}
/* Hide scrollbar for IE, Edge, and Firefox */
.app-videos{
  -ms-overflow-style: none;
  scrollbar-width: none;
}